<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Dashboard</h2>
<div class="" style="margin-bottom: 1em;">
<a href="/" class="btn btn-primary">
Home
</a>
{{^user}}
  <a id="login" href="/register" class="btn btn-primary">
    Register
  </a>
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
{{/user}}
{{#user}}

  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}

<a href="/participants/all" class="btn btn-primary">
See all participants
</a>
</div>