<html><head>
{{>header}}
</head>
<body>
<h1>{{title}}</h1>
<div class="text-left" style="margin-bottom: 1em;">
<a href="/" class="btn btn-primary">
Home
</a>
{{^user}}
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
  <a id="register" href="/register" class="btn btn-primary">
 Register
 </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
  <a href="/newclass" class="btn btn-primary">
    Add new class
  </a>
{{/user}}


{{#classes}}
  <div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>

      {{#user}}
        <p class="card-text">Class ID: {{classID}}</p>
        <p class="card-text">Course ID: {{courseID}}</p>
      {{/user}}
      <p class="card-text">Date: {{date}}</p>
      <p class="card-text">Time: {{time}}</p>
      <p class="card-text">Description: {{description}}</p>
      <p class="card-text">Location: {{location}}</p>
      <p class="card-text">Price: {{price}}</p>

      <a href="/enrol/class/{{classID}}" class="btn btn-primary btn-sm">Enrol in Class</a>
      {{#user}}
        <a href="/editclass/{{classID}}" class="btn btn-secondary btn-sm">Edit</a>
        <form method="POST" action="/class/delete/{{classID}}" style="display:inline;">
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      {{/user}}
    </div>
  </div>
{{/classes}}

{{^classes}}
  <p>No classes yet.</p>
{{/classes}}
</div>
</body>
</html>
