<html><head>
{{>header}}
</head>
<body>
<h1>{{title}}</h1>
<div class="text-left" style="margin-bottom: 1em;">
<a href="/" class="btn btn-primary">
Home
</a>
{{^user}}
  <a id="login" href="/login" class="btn btn-primary">
    Sign in
  </a>
  <a id="register" href="/register" class="btn btn-primary">
 Register
 </a>
{{/user}}
{{#user}}
  <a id="logout" href="/logout" class="btn btn-primary">
    Sign out
  </a>
{{/user}}

  {{#courses}}
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">Course ID: {{id}}</p>
        <p class="card-text">Duration: {{duration}}</p>
      </div>
    </div>
  {{/courses}}

  {{^courses}}
    <p>No courses yet.</p>
  {{/courses}}
</div>
</body>
</html>